body{
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

}
.pantallas{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.designPantallaInicial1{
    
    background-image: url(../img/inicio.jpg);
   
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    width: 100vw;
}
/* BOTON INICIAR JUEGO--- PASAMOS A LA SEGUNDA PANTALLA */

.boton{

    height: 20em;
    width: 50em;

    margin-left: 22em;
    margin-top: 15em;

    background-image: url(../img/start.png);

    border-radius: 0.5em;  
    display: block;
    position: absolute;

    display: flex;
    justify-content: center;
        
}

.designPantallaSelecion2{

background-image: url(../img/selecion.jpg);

    background-repeat: no-repeat;
    background-size:cover;

    height: 100vh;
    width: 100vw;

}

.pepino{

    height: 15em;
    width: 15em;

    margin-left: 20em;
    margin-top: 12em;

    background-color: rgba(38, 233, 12, 0);
    background-image: url(../img/pepino_fighter.jpg);

    border-radius: 0.5em;  

    display: block;
    position: absolute;
      
}

.sandia{

    height: 23em;
    width: 31em;

    margin-left: 45em;
    margin-top: 5em;

    background-color: rgba(165, 42, 42, 0);
    background-image: url(../img/sandia_figther.png);

    border-radius: 0.5em;  

    display: block;
    position: absolute;
           
}

.designPantallaVictoria{

    background-image: url(../img/victoria.jpg);

    background-repeat: no-repeat;
    background-size:cover;

    height: 100vh;
    width: 100vw;

}

.victorioso{

    height: 21em;
    width: 21.3em;
    
    margin-left: 20em;
    margin-top: 5em;

    font-size: 1.5em;
    color: rgb(0, 0, 0);
    
    background-image: url(../img/copa.png);
    
    display: block;
    position: absolute;
  
}




